{% extends 'base.html' %}

{% block content %}
<h1>Crea Nuovo gioco</h1>
<form method="post">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" required>
    <br>
    <label for="numero_giocatori_massimo">Numero giocatori massimo</label>
    <input type="number" name="numero_giocatori_massimo" id="numero_giocatori_massimo" min="1" required>
    <br>
    <label for="durata_media">Durata media</label>
    <input type="time" name="durata_media" id="durata_media" required>
    <br>
    <label for="categoria">Categoria</label>
    <input type="text" name="categoria" id="categoria" required>
    <br>
    <input class=crea type="submit" value="Crea">
</form>
{% endblock %}