{% extends 'base.html' %}

{% block content %}
<h1>Crea Nuovo gioco</h1>
<form method="post">
    <label for="data">Data</label>
    <input type="date" name="data" id="data" required>
    <br>
    <label for="vincitore">Pincitore</label>
    <input type="text" name="vincitore" id="vincitore" required>
    <br>
    <label for="punteggio_vincitore">Punteggio vincitore</label>
    <input type="number" name="punteggio_vincitore" id="punteggio_vincitore" required>
    <br>
    <input class=crea type="submit" value="Crea">
</form>
{% endblock %}
