{% extends 'base.html' %}

{% block content %}
  <h1>Canale: {{ channel['nome'] }}</h1>
  <h2><a href="{{ url_for('main.channel_detail', id=channel['id']) }}">{{ channel['nome']}}</a></h2>
      {% for categoria in categoria_html %}
        {% if categoria['id'] == channel['categoria_id'] %}
          <p>Categoria: {{ categoria['nome'] }} - Iscritti: {{ channel['numero_iscritti'] }}</p>
        {% endif %}
      {% endfor %}

  {% for video in videos %}
  <article>
    <header>
      <small>video: {{ video['titolo']}}</small>
    </header>
  </article>
  <hr>
  {% endfor %}
{% endblock %}