{% extends 'base.html' %}

{% block content %}
  <h1>canali disponibili</h1>
  {% for channel in channels_html %}
  <article>
    <header>
      <h2><a href="{{ url_for('main.channel_detail', id=channel['id']) }}">{{ channel['nome']}}</a></h2>
      {% for categoria in categoria_html %}
        {% if categoria['id'] == channel['categoria_id'] %}
          <p>Categoria: {{ categoria['nome'] }} - Iscritti: {{ channel['numero_iscritti'] }}</p>
        {% endif %}
      {% endfor %}
      </header>
  </article>
  <hr>
  {% endfor %}
{% endblock %}