{% extends 'base.html' %}

{% block content %}
<h1>Crea Nuovo Canale</h1>
<form method="post">
    <label for="nome">Nome del Canale</label>
    <input name="nome" id="nome" required>

    <label for="categoria">Categoria</label>
    <select name="categoria" id="categoria" required>
        <option value="">Seleziona una categoria</option>
        {% for categoria in categories_html %}
        <option value="{{ categoria['id'] }}">{{ categoria['nome'] }}</option>
        {% endfor %}
    </select>

    <label for="numero_iscritti">Numero Iscritti</label>
    <input name="numero_iscritti" id="numero_iscritti" type="number" value="0">

    <input type="submit" value="Crea Canale">
</form>
{% endblock %}